{% load static %}
<!-- Dashboard Footer -->
        <footer class="dashboard_footer pt30 pb30">
          <div class="container">
            <div class="row align-items-center justify-content-center justify-content-md-between">
              <div class="col-auto">
                <div class="copyright-widget">
                  <p class="mb-md-0">© RESHALA 2023 All rights reserved.</p>
                </div>
              </div>
              <div class="col-auto">
                <div class="footer_bottom_right_btns at-home8 text-center text-lg-end">
                  <div class="social-widget text-center text-md-end">
              <div class="social">
                <a class=" me-2 fw500 fz17"
                   href="">наши соц.сети:
                </a>
                <a href="https://vk.com/"><i
                        class="fab fa-vk list-inline-item"></i></a>
                <a href="https://ok.ru/"><i class="fab fa-odnoklassniki list-inline-item"></i></a>
                <a href=""><i class="fab fa-telegram list-inline-item"></i></a>
                <a href=""><i class="fab fa-steam list-inline-item"></i></a>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </footer>