{% load static %}
<!-- Main Header Nav -->
<header class="header-nav nav-homepage-style at-home17 stricky main-menu border-0">
    <!-- Ace Responsive Menu -->
    <nav class="posr">
        <div class="container posr">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto px-0 px-xl-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="logos">
                            <a class="header-logo logo1" href="{% url 'index' %}"><img
                                    src="{% static 'images/header-logo-white.svg' %}" alt="Header Logo"></a>
                            <a class="header-logo logo2" href="index.html"><img
                                    src="{% static 'images/header-logo2.svg' %}" alt="Header Logo"></a>
                        </div>
                        {% comment %} <a class="login-info pl30" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span
                                class="flaticon-loupe"></span></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-auto pe-0 pe-xl-3">
                    <div class="d-flex align-items-center" style="padding-top: 12px">
                        <!-- Responsive Menu Structure-->
                        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                            <li class="visible_list"><a class="list-item" href="{% url 'index' %}"><span class="title">Главная
                                    </span></a>
                            </li>
                            <li class="visible_list"><a class="list-item" href="{% url 'mediators' %}"><span
                                    class="title">О
                                        медиаторах</span></a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li class="visible_list"><a class="list-item"
                                                            href="{% url 'dashboard:dashboard' %}"><span
                                        class="title">Личный кабинет
                                    </span></a>
                                </li>
                            {% endif %}
                            <li class="visible_list"><a class="list-item pe-0" href="{% url 'contacts' %}">Контакты
                            </a></li>
                        </ul>
                        {% if request.user.is_authenticated %}
                            <a class="login-info ml30 mr10 home18-sign-btn px30 py-1 bdrs12"
                               href="{% url 'signing:logout' %}"> {{ user.lastname }} {{ user.firstname }} | Выйти
                            </a>
                        {% else %}
                            <a class="login-info ml30 mr10 home18-sign-btn px30 py-1 bdrs12"
                               href="{% url 'signing:login' %}">Вход</a>
                            <a class="ud-btn btn-white add-joining home17-join-btn bdrs12"
                               href="{% url 'signing:register' %}">Регистрация</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>