{% load static %}
<!-- Our Footer -->
    <section class="footer-style1 pt25 pb-0">
      <div class="container">
        <div class="row bb-white-light pb10 mb60">
          <div class="col-md-7">
            <div class="d-block text-center text-md-start justify-content-center justify-content-md-start d-md-flex align-items-center mb-3 mb-md-0">
              <a class="fz17 fw500 text-white mr15-md mr30"
                 href="../faq/">Правила
              портала</a>
              <a class="fz17 fw500 text-white mr15-md mr30"
                 href="../terms/">Политика
                конфиденциальности
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="social-widget text-center text-md-end">
              <div class="social-style1">
                <a class="text-white me-2 fw500 fz17"
                   href="">Наши соц.сети
                </a>
                <a href="https://vk.com/"><i class="fab fa-vk list-inline-item"></i></a>
                <a href="https://ok.ru/"><i class="fab fa-odnoklassniki list-inline-item"></i></a>
                <a href=""><i class="fab fa-telegram list-inline-item"></i></a>
                <a href=""><i class="fab fa-steam list-inline-item"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container white-bdrt1 py-4">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text-center text-lg-start">
              <p
                      class="copyright-text mb-2 mb-md-0 text-white-light ff-heading">© RESHALA 2023 All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
