{% extends 'dashboard/base-dashboard.html' %}
{% load static %}
{% load custom_filters %}


{% block dash-title %}
Медиатор: {{ mediator.lastname}} {{ mediator.firstname }}
{% endblock dash-title %}

{% block dash-description %}
Рейтинг на портале: {{ mediator.average_rating }}
{% endblock dash-description %}


{% block dash-content %}

{% include 'reviews/includes/rating/rating-styles-mini.html' %}
{% include 'reviews/includes/rating/rating-styles.html' %}

<!-- Mediator About Details -->
    <section class="pt0 pb90 pb30-md">
      <div class="container">
        <div class="row wrap wow fadeInUp">
          <div class="col-lg-8">
            <div class="column">
              <div class="px30 pt30 pb-0 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                <div class="position-relative overflow-hidden d-flex align-items-center">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="position-relative">
                        <div class="list-meta d-sm-flex align-items-center">
                          {% if mediator.profile_image %}
                          <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                              <img class="rounded-circle mx-auto"
                                    src="{{ mediator.profile_image.url }}" alt="Аватар"
                              style="width: 80px; height: 80px;">
                              {% comment %} <span class="online"></span> {% endcomment %}
                          </div>
                          {% else %}
                          <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                              <img class="rounded-circle mx-auto"
                                  src="{% static 'images/resource/user_default.png' %}" alt="">
                              {% comment %} <span class="online"></span> {% endcomment %}
                          </div>
                          {% endif %}
                          <div class="ml20 ml0-xs">
                            <h5 class="title mb-1">{{ mediator.lastname }} {{ mediator.firstname }}</h5>
                            <p class="mb-0">Медиатор</p>
                            <p
                                    class="mb-0 dark-color fz15 fw500 list-inline-item mb5-sm"><i class="fas fa-star vam fz10 review-color me-2"></i> рейтинг {{ mediator.average_rating }} / {{ quantity_reviews }} отзыва</p>
                            {% comment %} <p
                                    class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs"><i class="flaticon-place vam fz20 me-2"></i> Москва, Россия</p> {% endcomment %}
                            <p
                                    class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs"><i class="flaticon-30-days vam fz20 me-2"></i> {{ mediator.create_at }} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-100 mt30">
                <div class="row mt30">
                  <div class="col-sm-6 col-xl-3 px-0">
                    <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                      <div class="icon flex-shrink-0"><span class="flaticon-target"></span></div>
                      <div class="details">
                        <h5 class="title">Решено конфликтов</h5>
                        <p class="mb-0 text"> {{ completed_conflicts }} </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3 px-0">
                    <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                      <div class="icon flex-shrink-0"><span class="flaticon-goal"></span></div>
                      <div class="details">
                        <h5 class="title">Всего конфликтов</h5>
                        <p class="mb-0 text"> {{ total_conflicts }} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if view.request.user.is_authenticated %}
                <div class="service-about">
                  <div class="bsp_reveiw_wrt p30 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                    <h6 class="fz17">Написать</h6>
                    <form class="comments_form mt30 mb30-md">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-4">
                            <label class="fw500 fz16 ff-heading dark-color mb-2">Сообщение</label>
                            <textarea class="pt15" rows="6" placeholder="Ваше сообщение"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <a href="" class="ud-btn btn-dark">Отправить
                            <i class="fal fa-arrow-right-long"></i>
                          </a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              {% endif %}

              
              <div class="service-about">
                <div class="product_single_content mb30 p30 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                  <div class="mbp_pagination_comments">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="total_review mb30">
                          <h4> {{ quantity_reviews }} отзыва </h4>
                        </div>
                        <div class="d-md-flex align-items-center mb30">
                          <div class="total-review-box d-flex align-items-center text-center mb30-sm">
                            <div class="wrapper mx-auto">
                              <div class="t-review mb15">{{ mediator.average_rating }}</div>
                              <h5>Средняя</h5>
                              <p class="text mb-0">оценка</p>
                            </div>
                          </div>
                          <div class="wrapper ml60 ml0-sm">
                            <div class="review-list d-flex align-items-center mb10">
                              <div class="list-number">5 звёзд</div>
                                <div class="progress">
                                  <div class="progress-bar" style="width: {{ star_counts.5.percentage | floatformat:"0" }}%;" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <div class="value text-end">{{ star_counts.5.count }}</div>
                            </div>
                            <div class="review-list d-flex align-items-center mb10">
                              <div class="list-number">4 звезды</div>
                                <div class="progress">
                                  <div class="progress-bar" style="width: {{ star_counts.4.percentage | floatformat:"0" }}%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <div class="value text-end">{{ star_counts.4.count }}</div>
                            </div>
                            <div class="review-list d-flex align-items-center mb10">
                              <div class="list-number">3 звезды</div>
                                <div class="progress">
                                  <div class="progress-bar" style="width: {{ star_counts.3.percentage | floatformat:"0" }}%;" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <div class="value text-end">{{ star_counts.3.count }}</div>
                            </div>
                            <div class="review-list d-flex align-items-center mb10">
                              <div class="list-number">2 звезды</div>
                                <div class="progress">
                                  <div class="progress-bar" style="width: {{ star_counts.2.percentage | floatformat:"0" }}%;" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <div class="value text-end">{{ star_counts.2.count }}</div>
                            </div>
                            <div class="review-list d-flex align-items-center mb10">
                              <div class="list-number">1 звезда</div>
                                <div class="progress">
                                  <div class="progress-bar" style="width: {{ star_counts.1.percentage | floatformat:"0" }}%;" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <div class="value text-end">{{ star_counts.1.count }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                            <ul class="timeline">
                                {% for review in reviews %}
                                <li>
                                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          {% if review.from_user.profile_image %}
                                                <img class="rounded-circle mx-auto"
                                                      src="{{ review.from_user.profile_image.url }}" alt="Аватар"
                                                style="width: 80px; height: 80px;">
                                          {% else %}
                                                <img class="rounded-circle mx-auto"
                                                  src="{% static 'images/resource/user_default.png' %}" alt="">
                                          {% endif %}
                                            <h4 class="timeline-title"> <a href="{% url 'user-about' review.from_user.pk %}"> {{ review.from_user.lastname }} {{ review.from_user.firstname }}</h4></a>
                                            <div>
                                              {% comment %} review.from_user.profile_image.url {% endcomment %}
                                              <span class="fz14">{{ review.created_at }}</span>
                                                <div class="rating-mini">
                                                    {% comment %} Строка нужной длины {% endcomment %}
                                                    {% for item in ''|ljust:review.rating %}
                                                        <span class="active"></span>
                                                    {% endfor %}
                                                </div>
                    
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text mt20 mb20">{{ review.text }}</p>
                                        </div>
                                        <br>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                      </div>
                      {% comment %} <div class="col-md-12">
                        <div class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                          <img src="{% static 'images/blog/comments-2.png' %}" class="mr-3" alt="comments-2.png">
                          <div class="ml20">
                            <h6 class="mt-0 mb-0">Надя Добрая</h6>
                            <div><span class="fz14">12 Марта 2022</span></div>
                          </div>
                        </div>
                        <p class="text mt20 mb20">Это отзыв про медиатора,
                          потому что он такой душка
                          of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

                      </div> {% endcomment %}
                      {% comment %} <div class="col-md-12">
                        <div class="mbp_first position-relative d-flex align-items-center justify-content-start mt30 mb30-sm">
                          <img src="{% static 'images/blog/comments-2.png' %}"
                               class="mr-3' %}" alt="comments-2.png">
                          <div class="ml20">
                            <h6 class="mt-0 mb-0">Саша Белый</h6>
                            <div><span class="fz14">08 февраля 2022</span></div>
                          </div>
                        </div>
                        <p class="text mt20 mb20">Молодец всё порешал of Lorem
                          Ipsum available, but the majority have suffered
                          alteration in some form, by injected humour, or
                          randomised words which don't look even slightly
                          believable. If you are going to use a passage of
                          Lorem Ipsum, you need to be sure there isn't
                          anything embarrassing hidden in the middle of text.</p>
                      </div> {% endcomment %}
                    </div>
                  </div>
                </div>
                {% if view.request.user.is_authenticated %}
                  <div class="bsp_reveiw_wrt p30 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                    <h6 class="fz17" id="send_mediator_review">Добавить отзыв</h6>
                    <h6>Оцените медиатора по пятибальной шкале</h6>
                    <form class="form-style" method="post">
                      {% csrf_token %}
                      {{ form.from_user }}
                      {{ form.to_user }}
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="mb20">
                            {% include 'reviews/includes/rating/rating-stars.html' %}
                            {{ form.rating.errors }}
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <div class="mb10">
                            <label class="heading-color ff-heading fw500 mb10">Отзыв</label>
                            {% if form.text.errors %}
                              {{ form.text|input_error }}
                              {{ form.text.errors|feedback_error }}
                            {% else %}
                              {{ form.text }}
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <div class="text-start">
                            <button class="ud-btn btn-thm" type="submit">Отправить
                              <i class="fal fa-arrow-right-long"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="column">
              <div class="blog-sidebar ms-lg-auto">
                <div class="price-widget pt25 bdrs12 default-box-shadow1s">
                  <div class="category-list mt20">
                    {% comment %} <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-place text-thm2 pe-2 vam"></i>
                        Место:</span> <span class="">Москва, Россия</span>
                    </a> {% endcomment %}
                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-30-days text-thm2 pe-2 vam"></i>На портале с </span> <span class=""> {{ mediator.create_at }} </span>
                    </a>
                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-calendar text-thm2 pe-2 vam"></i>Последняя авторизация</span> <span class=""> {{mediator.last_login }} </span>
                    </a>
                  </div>
                  <div class="d-grid">
                    <a href="#send_mediator_review" class="ud-btn btn-dark">
                      Написать отзыв<i
                            class="fal fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- Dashboard Content End -->
{% endblock dash-content %}