{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-title %}
<h1>Список конфликтов</h1>
{% endblock dash-title %}

{% block dash-description %}
<p>Самое время разрешить конфликты</p>
{% endblock dash-description %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_conflicts='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
    {% include 'dashboard/includes/dash-sidebar-list.html' with active_conflicts='-is-active' %}
{% endblock %}

{% block dash-content %}
<!-- Dashboard Content -->

    <div class="row pb40">
        <div class="col-lg-12">
            <div class="dashboard_title_area">
                <h2>Мои конфликты</h2>
                <p class="text">Вообще я не очень конфликтный, но ...</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            {% if conflicts %}
                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Медиатор</th>
                                <th scope="col">Создан/Обновлён</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody class="t-body">
                            {% for conflict in conflicts %}
                            <tr>
                                <th scope="row">
                                    <div class="freelancer-style1 p-0 mb-0 box-shadow-none">
                                        <div class="d-lg-flex align-items-lg-center">
                                            <div class="details ml15 ml0-md mb15-md">
                                                <h5 class="title mb-2">
                                                    {% if conflict.mediator == NULL %}
                                                    <a href="{% url 'dashboard:user-conflict-review' conflict.id %}">{{ conflict.title }}</a></h5>
                                                    {% else %}
                                                    <a href="{% url 'dashboard:user-conflict-workplace' conflict.id %}">{{ conflict.title }}</a>
                                                    {% endif %}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <td class="vam"><span
                                        class="fz15 fw400">{{conflict.mediator.lastname }}</span></td>
                                <td class="vam">
                                    <span>{{ conflict.created }} //
                                    </span><br><span
                                        class="fz14 fw400">{{ conflict.updated }}</span>
                                </td>
                                <td class="vam"><span
                                        class="pending-style style6">{{ conflict.status }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="mbp_pagination dark-style text-center mt30">
                                {% if is_paginated %}
                                    <ul class="page_navigation">
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}#top_list"><span
                                                    class="fas fa-angle-left"></span></a>
                                        </li>
                                        {% endif %}

                                        {% for item in page_obj.paginator.page_range %}
                                        <li class="page-item
                                {% if item == page_obj.number %}active{% endif %}">
                                            <a class="page-link" href="?page={{ item }}#top_list">{{ item }}<span class="sr-only"></span></a>
                                        </li>
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.next_page_number }}#top_list"><span
                                                class="fas fa-angle-right"></span></a></li>
                                        {% endif %}
                                    </ul>
                                    {{ page_obj.number }} из {{ page_obj.paginator.count }}
                                {% endif %}
                        </div>
                        </div>
                    </div>
                  </div>

                  <!-- Pagination -->
                </div>
            {% else %}
                <div class="alert alert-warning text-center"><h5>У Вас нет действующих конфликтов</h5></div>
            {% endif %}
        </div>
    </div>

<!-- Dashboard Content End -->
{% endblock dash-content %}
