{% extends 'dashboard/base-dashboard.html' %}
{% load static %}


{% block dash-sidebar %}
{% include 'dashboard/includes/dash-sidebar-list.html' with active_start='-is-active' %}
{% endblock %}


{% block dash-title %}
Зона решения конфликта
{% endblock dash-title %}


{% block dash-description %}
Досудебное решение
{% endblock dash-description %}


{% block dash-content %}

<div class="row">
    <div class="col-lg-8">
        <div class="column">
            <div class="service-about">

                <h3>Конфликт: {{ conflict.title }}</h3>
                <div class="row mt20">
                    <div class="col-md-6">
                        <a href="{% url 'user-about' conflict.creator.id %}"
                           class="btn ud-btn btn-thm mb10">
                            {% if conflict.creator.profile_image %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{{ conflict.creator.profile_image.url }}"
                                 style="width: 50px; height: 50px; margin-right: 10px;">
                            {% else %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{% static 'images/team/fl-1.png' %}"
                                 style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                            {% endif %}
                            Создатель: {{ conflict.creator.firstname }}
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a
                                href="{% url 'mediator-about' conflict.mediator.id %}" class="btn ud-btn btn-thm mb10">
                            {% if conflict.mediator.profile_image %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{{ conflict.mediator.profile_image.url }}"
                                 style="width: 50px; height: 50px; margin-right: 10px;">
                            {% else %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{% static 'images/team/fl-1.png' %}"
                                 style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                            {% endif %}
                            Медиатор: {{ conflict.mediator.firstname }}
                        </a>
                    </div>
                </div>

                <h5>Описание конфликта:</h5>
                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                    <p class="text mb30">{{ conflict.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="column mt50">
            <div class="service-about">
                <div class="column">
                    <div class="price-widget pt25 bdrs8">
                        <div class="details">
                            <div class="fl-meta d-flex align-items-center justify-content-between">
                                <a class="meta fw500 text-start">Город:<br>
                                  <span class="fz13 fw400">{{ conflict.city }}</span>
                                </a>
                            </div>
                            <div class="fl-meta d-flex align-items-center justify-content-between">
                                <a class="meta fw500 text-start">Конфликт открыт:<br>
                                  <span class="fz13 fw400">{{ conflict.created|date:"d.m.Y H:i" }}</span>
                                </a>
                                {% if conflict.status == 'Завершен' %}
                                <a class="meta fw500 text-start">Закрыт:<br>
                                  <span class="fz13 fw400">{{ conflict.closed_at|date:"d.m.Y H:i" }}</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if conflict.status == 'В работе' %}
                        <form method="post" action=""
                              class="comments_form mt20 mb30-md" >
                            {% csrf_token %}
                            <input type="hidden" name="status" value="Завершен">
                            <input type="hidden" name="id" value="{{ conflict.id }}">
                            <div class="d-grid">
                                <button type="submit" class="ud-btn btn-dark">Закрыть конфликт
                                    <i class="fa fa-arrow-right-long"></i>
                                </button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb40">
    <div class="col-lg-6 col-xl-5 col-xxl-4">
        <h5>Стороны конфликта (добавить/удалить): </h5>
        <div class="message_container">
            <div class="inbox_user_list">
                <div class="iu_heading pr35">
                <center><form method="POST" action="">
                    {% csrf_token %}
                    {{ form.respondents }}
                    <div class="col-md-12">
                        <div class="text-start">
                            <center><button class="ud-btn btn-thm mb20 mt10" type="submit">Добавить участников
                                <i class="fal fa-arrow-right-long"></i>
                            </button></center>
                        </div>
                    </div>
                </form></center>
                </div>
                <div class="chat-member-list pr20">
                    {% if conflict.respondents.all %}
                    {% for respondent in conflict.respondents.all %}
                    <div class="list-item pt5">
                        <a href="'user-about' conflict.creator.id">
                            <div class="d-flex align-items-center position-relative">
                                {% if respondent.profile_image %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{{ respondent.profile_image.url }}"
                                     style="width: 50px; height: 50px; margin-right: 10px;">
                                {% else %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{% static 'images/team/fl-1.png' %}"
                                     style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                                {% endif %}
                                <div class="d-sm-flex">
                                    <div class="d-inline-block">
                                        <div class="fz15 fw500 dark-color ff-heading mb-0">
                                            {{ respondent.lastname }} {{ respondent.firstname }}
                                        </div>
                                    </div>
                                    <div class="switch-style1">

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="chat-member-list pr20">
                        <div class="fz15 fw500 dark-color ff-heading mb-0">
                            Участников пока нет
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-7 col-xxl-8">
        <h5>Комментарии:</h5>
        <div class="mi_text">
                <div class="message_input">
<!--                    <form class="d-flex align-items-center">-->
                        <input id="chat-message-input" class="form-control" type="search"
                               placeholder="Текст сообщения"
                               aria-label="Search">
                        <button id="chat-message-submit" class="btn ud-btn btn-thm mb20 mt10">Отправить<i
                                class="fal fa-arrow-right-long"></i></button>
<!--                    </form>-->
                </div>
        </div>
        <div class="message_container mt30-md">
            <div class="inbox_chatting_box" style="">
                <ul id="chat-log" class="chatting_content">

                    {% for message in conflict_messages %}
                    <li class="sent float-start">
                        <div class="d-flex align-items-center mb15">
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms4.png' %}" alt="ms4.png">-->
                            <div class="title fz15">{{ message.user.firstname }} {{ message.user.lastname }} <small
                                    class="ml10">{{ message.message_time | date:'d-m-Y H:i' }}</small></div>
                        </div>
                        <p>{{ message.message }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dashboard/mediator/conflict-workplace/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var block = document.createElement('li');
            var html_block = '<div class="d-flex align-items-center mb15">' + '<div class="title fz15">' + data.sender_firstname + ' ' + data.sender_lastname + '<small class="ml10">' + data.message_time + '</small></div></div><p>' + data.message + '</p>'
            block.innerHTML = html_block
            ul_block = document.querySelectorAll('#chat-log')[0];
            ul_block.prepend(block);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

{% endblock dash-content %}
