{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_start='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
{% include 'dashboard/includes/dash-sidebar-list.html' with active_start='-is-active' %}
{% endblock %}


{% block dash-description %}
    <span class="text-secondary">Медиатора:</span>
    <span class="text-secondary">{{ user.firstname }} {{ user.lastname }}</span>
{% endblock dash-description %}


{% block dash-content %}
<div class="row">
  <h5 class="border-bottom">Брифинг</h5>
  <div class="col-md-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Отзывов обо мне:</div>
        <div class="title">{{ user.reviews.count }}</div>
      </div>
      <div class="icon text-center"><i class="flaticon-presentation"></i></div>
    </div>
  </div>
  <div class="col-md-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Мой рейтинг</div>
        <div class="title">{{ user.average_rating }}</div>
      </div>
      <div class="icon text-center"><i class="flaticon-review"></i></div>
    </div>
  </div>

  <h5 class="border-bottom">Мои конфликты</h5>
  <div class="col-md-4 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Всего:</div>
        <div class="title">{{ user.ownable_conflicts.count }}</div>
      </div>
      <div class="icon text-center"><i class="flaticon-search"></i></div>
    </div>
  </div>
  <div class="col-md-4 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">В работе:</div>
        <div class="title">{{ active_conflicts.count }}</div>
      </div>
      <div class="icon text-center"><i class="flaticon-pencil"></i></div>
    </div>
  </div>
  <div class="col-md-4 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Завершено:</div>
        <div class="title">{{ completed_conflicts.count }}</div>
      </div>
      <div class="icon text-center"><i class="flaticon-tick"></i></div>
    </div>
  </div>
</div>
{% endblock dash-content %}
