{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_start='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
{% include 'dashboard/includes/dash-sidebar-list.html' with active_start='-is-active' %}
{% endblock %}



{% block dash-description %}
    <span class="text-secondary">Пользователя:</span>
    <span class="text-secondary">{{ user.firstname }} {{ user.lastname }}</span>
    {% if user.is_superuser %}
        <a href="/admin/" class="ud-btn text-secondary" id="adminLink">Администрирование</a>
    {% endif %}
{% endblock dash-description %}



{% block dash-content %}
    <div class="row">
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Действующие конфликты:</div>
            <a href="{% url 'dashboard:in-work' %}" class="title">{{ active_conflicts.count }}</a>
          </div>
          <div class="icon text-center"><i class="flaticon-contract"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Медиатор не назначен:</div>
            <a href="{% url 'dashboard:new' %}" class="title">{{ new_conflicts.count }}</a>
          </div>
          <div class="icon text-center"><i class="flaticon-success"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Завершено конфликтов:</div>
            <a href="{% url 'dashboard:completed' %}" class="title">{{ completed_conflicts.count }}</a>
          </div>
          <div class="icon text-center"><i class="flaticon-success"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Обращений на портале:</div>
            <a href="{% url 'dashboard:jobs' %}" class="title">{{ user.created_conflicts.count }}</a>

          </div>
          <div class="icon text-center"><i class="flaticon-review"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Всего отзывов</div>
            <a href="{% url 'reviews:list_review' %}" class="title">{{ user.created_reviews.count }}</a>

          </div>
          <div class="icon text-center"><i class="flaticon-star"></i></div>
        </div>
      </div>
    </div>

{% endblock dash-content %}
