{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-title %}
<h1>Новые конфликты</h1>
{% endblock dash-title %}

{% block dash-description %}
<p>Самое время заработать</p>
{% endblock dash-description %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with new_conflicts='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
    {% include 'dashboard/includes/dash-sidebar-list.html' with new_conflicts='-is-active' %}
{% endblock %}

{% block dash-content %}

<!-- Listings All Lists -->
    <section class="pt30 pb90">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="list-sidebar-style1 d-none d-lg-block">
              <div class="accordion" id="accordionExample">
                <div class="card mb20 pb10 mt-0 bg-transparent">
                  <div class="card-header active" id="heading0">
                    <h4>
                      <button class="btn btn-link ps-0 pt-0" type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse0"
                              aria-expanded="true"
                              aria-controls="collapse0">Категории</button>
                    </h4>
                  </div>
                  <div id="collapse0" class="collapse show" aria-labelledby="heading0" data-parent="#accordionExample">
                    <div class="card-body card-body px-0 pt-0">
                      <div class="checkbox-style1 mb15">
                        <form id="category-filter-form" data-ajax-form="true">
                            <label class="custom_checkbox">Все
                                <input type="checkbox" id="allConflict" name="all" value="all" class="category-checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="custom_checkbox">Корпоративный
                            <input type="checkbox" name="corporate"
                                   value="корпоративный" class="category-checkbox">
                            <span class="checkmark"></span>
<!--                            <span class="right-tags">(???5)</span>-->
                          </label>
                          <label class="custom_checkbox">Бизнес
                              <input type="checkbox" name="business"
                                     value="бизнес"
                                     class="category-checkbox">
                              <span class="checkmark"></span>
<!--                              <span class="right-tags">(917)</span>-->
                          </label>
                          <label class="custom_checkbox">Семейный
                            <input type="checkbox" name="family"
                                   value="семейный" class="category-checkbox">
                            <span class="checkmark"></span>
<!--                            <span class="right-tags">(1,945)</span>-->
                          </label>
                          <label class="custom_checkbox">Недвижимость
                            <input type="checkbox" name="realestate" value="недвижимость" class="category-checkbox">
                            <span class="checkmark"></span>
<!--                            <span class="right-tags">(1,945)</span>-->
                          </label>
                          <label class="custom_checkbox">Наследство
                              <input type="checkbox" name="heritage" value="наследство" class="category-checkbox">
                              <span class="checkmark"></span>
<!--                              <span class="right-tags">(240)</span>-->
                          </label>
                          <label class="custom_checkbox">Личный
                              <input type="checkbox" name="personal" value="личный" class="category-checkbox">
                              <span class="checkmark"></span>
<!--                              <span class="right-tags">(240)</span>-->
                          </label>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
<!--                <div class="card mb20 pb0 bg-transparent">-->
<!--                  <div class="card-header active" id="heading1">-->
<!--                    <h4>-->
<!--                      <button class="btn btn-link ps-0" type="button"-->
<!--                              data-bs-toggle="collapse"-->
<!--                              data-bs-target="#collapse1"-->
<!--                              aria-expanded="true"-->
<!--                              aria-controls="collapse1">Цена</button>-->
<!--                    </h4>-->
<!--                  </div>-->
<!--                  <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">-->
<!--                    <div class="card-body card-body px-0 pt-0">-->
<!--                      &lt;!&ndash; Range Slider Desktop Version &ndash;&gt;-->
<!--                      <div class="range-slider-style1">-->
<!--                        <div class="range-wrapper">-->
<!--                          <div class="slider-range mb10 mt15"></div>-->
<!--                          <div class="text-center">-->
<!--                            <input type="text" class="amount"-->
<!--                                   placeholder="20 &#x20bd;"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>-->
<!--                            <input type="text" class="amount2"-->
<!--                                   placeholder="70987 &#x20bd;">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="card mb20 pb5 bg-transparent">-->
<!--                  <div class="card-header active" id="heading2">-->
<!--                    <h4>-->
<!--                      <button class="btn btn-link ps-0" type="button"-->
<!--                              data-bs-toggle="collapse"-->
<!--                              data-bs-target="#collapse2"-->
<!--                              aria-expanded="true"-->
<!--                              aria-controls="collapse2">Место</button>-->
<!--                    </h4>-->
<!--                  </div>-->
<!--                  <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordionExample">-->
<!--                    <div class="card-body card-body px-0 pt-0">-->
<!--                      <div class="search_area mb15">-->
<!--                        <input type="text" class="form-control"-->
<!--                               placeholder="Где ищем конфликт?">-->
<!--                        <label><span class="flaticon-loupe"></span></label>-->
<!--                      </div>-->
<!--                      <div class="checkbox-style1 mb15">-->
<!--                        <label class="custom_checkbox">Россия-->
<!--                          <input type="checkbox">-->
<!--                          <span class="checkmark"></span>-->
<!--                          <span class="right-tags">(1945)</span>-->
<!--                        </label>-->
<!--                        <label class="custom_checkbox">Белоруссия-->
<!--                          <input type="checkbox" checked="checked">-->
<!--                          <span class="checkmark"></span>-->
<!--                          <span class="right-tags">(8136)</span>-->
<!--                        </label>-->
<!--                        <label class="custom_checkbox">Москва-->
<!--                          <input type="checkbox">-->
<!--                          <span class="checkmark"></span>-->
<!--                          <span class="right-tags">(917)</span>-->
<!--                        </label>-->
<!--                        <label class="custom_checkbox">Минск-->
<!--                          <input type="checkbox">-->
<!--                          <span class="checkmark"></span>-->
<!--                          <span class="right-tags">(240)</span>-->
<!--                        </label>-->
<!--                        <label class="custom_checkbox">Санкт-Петербург-->
<!--                          <input type="checkbox">-->
<!--                          <span class="checkmark"></span>-->
<!--                          <span class="right-tags">(26)</span>-->
<!--                        </label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row align-items-center mb20">
              <div class="col-md-6">
                <div class="text-center text-md-start">
                  <p class="text mb-0 mb10-sm"><span class="fw500">{{all_conflicts.count}}
                  </span> конфликтов открыто</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="page_control_shorting d-md-flex align-items-center justify-content-center justify-content-md-end">
                  <div class="dropdown-lists d-block d-lg-none me-2 mb10-sm">
                    <ul class="p-0 mb-0 text-center text-md-start">
                      <li>
                        <!-- Advance Features modal trigger -->
                        <button type="button" class="open-btn filter-btn-left"> <img class="me-2" src="{% static 'images/icon/all-filter-icon.svg' %}" alt=""> All Filter</button>
                      </li>
                    </ul>
                  </div>
                  <div
                          class="pcs_dropdown dark-color pr10 text-center text-md-end"><span>Сортировать</span>
                    <select class="selectpicker show-tick" id="sorting-select">
                      <option>Сначала новые</option>
                      <option>Сначала старые</option>
                      <option>Сначала недорогие</option>
                      <option>Сначала дорогие</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="conflicts-container">
              {% for new_conflict in new_conflicts %}
              <div class="col-md-6 col-lg-12">
                <div class="freelancer-style1 bdr1 bdrs12 hover-box-shadow row ms-0 align-items-lg-center">
                  <div class="col-lg-8 ps-0 bdrr1 bdrn-xl">
                    <div class="d-lg-flex">
                      <div class="thumb w60 position-relative rounded-circle mb15-md">

                        {% if new_conflict.creator.profile_image %}
                        <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                            <img class="rounded-circle mx-auto"
                                src="{{ new_conflict.creator.profile_image.url }}"
                                alt="Аватар"
                                style="width: 60px; height: 60px;">
                        </div>
                        {% else %}
                        <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                            <img class="rounded-circle mx-auto"
                                src="{% static 'images/apple-touch-icon-72x72.png' %}" alt=""
                                style="width: 60px; height: 60px;">
                        </div>
                        {% endif %}
                        <span class="online-badge2"></span>
                      </div>
                      <div class="details ml15 ml0-md mb15-md">
                        <h5 class="title mb-3">{{ new_conflict.title }}</h5>
                        <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i
                                class="flaticon-place fz16 vam text-thm2 me-1"></i> {{ new_conflict.city }}, {{ new_conflict.country }} </p>
                        <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i
                                class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> {{ new_conflict.created }} </p>
                        <p class="mb-0 fz14 list-inline-item mb5-sm"><i
                                class="flaticon-contract fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i> откликов: {{ new_conflict.responses.count }}</p>
                      </div>
                    </div>
                    <p class="text mt10">{{ new_conflict.description }}</p>
                    <div class="skill-tags d-flex align-items-center justify-content-start mb20-md">
                      <span class="tag">{{ new_conflict.category }}</span>
                    </div>
                  </div>
                  <div class="col-lg-4 ps-0 ps-xl-3 pe-0">
                    <div class="details">
                      <div class="text-lg-end">
                        <h4>{{ new_conflict.fixed_price }} &#x20bd</h4>
                        <p class="text">цена</p>
                      </div>
                      <div class="d-grid mt15">
                        <a
                                href="{% url 'dashboard:new-conflict-review-mediator' new_conflict.id %}"
                           class="ud-btn btn-white2 bdrs12 hover-default-box-shadow1">Подробнее<i class="fal fa-arrow-right-long"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- Pagination -->
              {% if new_conflicts.paginator.num_pages > 1 %}
              <div class="row">
                <div class="mbp_pagination dark-style mt30 text-center">
                  <ul class="page_navigation">
                      {% if new_conflicts.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page=1"><span class="fas fa-angle-double-left"></span></a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ new_conflicts.previous_page_number }}"><span class="fas fa-angle-left"></span></a>
                          </li>
                      {% endif %}
                      {% for i in new_conflicts.paginator.page_range %}
                          <li class="page-item {% if new_conflicts.number == i %}active{% endif %}">
                              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                          </li>
                      {% empty %}
                          <p>Ничего не найдено. Попробуйте изменить фильтры.</p>
                      {% endfor %}
                      {% if new_conflicts.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ new_conflicts.next_page_number }}"><span class="fas fa-angle-right"></span></a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="?page={{ new_conflicts.paginator.num_pages }}"><span class="fas fa-angle-double-right"></span></a>
                          </li>
                      {% endif %}
                  </ul>
                  <p class="mt10 mb-0 pagination_page_count text-center">страница {{ new_conflicts.number }} из {{ new_conflicts.paginator.num_pages }}</p>
                </div>
              </div>
              {% endif %}
              <!-- Pagination -->
            </div>
          </div>
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  var checkboxes = document.querySelectorAll("#category-filter-form input[type='checkbox']");
  var sortingSelect = document.getElementById('sorting-select');

  // Add event listener to handle checkbox change
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener("change", handleCheckboxChange);
  });

  // Add event listener to handle sorting change
  sortingSelect.addEventListener('change', handleSortingChange);

  // Function to handle checkbox change
  function handleCheckboxChange() {
    var selectedCategories = [];

    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        selectedCategories.push(checkbox.value);
      }
    });

    // Send an AJAX request to the server with the selected categories and sorting option
    sendAjaxRequest(selectedCategories);
  }

  // Function to handle sorting change
  function handleSortingChange() {
    var selectedCategories = [];

    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        selectedCategories.push(checkbox.value);
      }
    });

    // Send an AJAX request to the server with the selected categories and sorting option
    sendAjaxRequest(selectedCategories);
  }

  // Function to send AJAX request
  function sendAjaxRequest(selectedCategories) {
    var sortingOption = sortingSelect.value;

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "filter-conflicts/?categories=" + selectedCategories.join(",") + "&sorting=" + sortingOption, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        // Update the conflicts list with the response from the server
        document.getElementById("conflicts-container").innerHTML = xhr.responseText;
      }
    };
    xhr.send();
  }
</script>


<!-- Dashboard Content End -->
{% endblock dash-content %}