{% extends 'dashboard/base-dashboard.html' %}
{% load static %}


{% block dash-description %}
  {% if user.groups.first.name == 'mediator' %}
    <span class="text-secondary">Медиатора:</span>
  {% else %}
    <span class="text-secondary">Пользователя:</span>
  {% endif %}
  <span class="text-secondary">{{ user.firstname }} {{ user.lastname }}</span>
{% endblock dash-description %}



{% block dash-content %}
  {% if user.groups.first.name == 'mediator' %}
    <!-- Content Mediator -->
    <h3 class="text-red">Контент который должен видеть медиатор</h3>
    <!-- Content Mediator End -->
  {% else %}
    <!-- Content User-->
    <div class="row">
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Конфликтов в работе</div>
            <a href="{% url 'dashboard:in-work' %}" class="title">{{ user.conflicts_in_work }}</a>
            <div class="text fz14"><span class="text-thm">+10???</span> Обновлений
            </div>
          </div>
          <div class="icon text-center"><i class="flaticon-contract"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Завершено конфликтов</div>
            <a href="{% url 'dashboard:completed' %}" class="title">{{ user.conflicts_completed }}</a>
            <div class="text fz14"><span class="text-thm">+8??? Новых</span>
              отзывов</div>
          </div>
          <div class="icon text-center"><i class="flaticon-success"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Обращений на портале</div>
            <a href="{% url 'dashboard:jobs' %}" class="title">{{ user.created_conflicts.count }}</a>
            <div class="text fz14"><a href="{% url 'dashboard:new' %}" class="text-thm">+{{ user.conflicts_new }} Новых</a>
              обращений</div>
          </div>
          <div class="icon text-center"><i class="flaticon-review"></i></div>
        </div>
      </div>
      <div class="col-sm-6 col-xxl-3">
        <div class="d-flex align-items-center justify-content-between statistics_funfact">
          <div class="details">
            <div class="fz15">Просмотров профиля</div>
            <a href="#" class="title">227???</a>
            <div class="text fz14"><span class="text-thm">+29??? Новых</span>
              просмотров</div>
          </div>
          <div class="icon text-center"><i class="flaticon-review-1"></i></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xxl-4">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
          <div class="d-flex justify-content-between bdrb1 pb15 mb20">
            <h5 class="title">Популярные медиаторы</h5>
            <a class="text-decoration-underline text-thm6" href="{% url 'mediators' %}">Смотреть все</a>
          </div>
          <div class="dashboard-img-service">
            {% for mediator in view.request.user.top3_mediator_list %}
              <div class="listing-style1 list-style d-block d-xl-flex align-items-center border-0 mb10">
                <div class="list-thumb flex-shrink-0 bdrs4">
                  <img class="w-100 rounded-circle" height="120" width="100"  src="{% static 'images/blog/blog-15.jpg' %}" alt="">
                </div>
                <div class="list-content flex-grow-1 pt10 pb10 pl15 pl0-lg">
                  <h5><a href="">{{ mediator.lastname }}</a></h5>
                  <h6 class="list-title mb-2">{{ mediator.add_info_for_mediator.description }}</h6>
                  <div class="list-meta d-flex justify-content-between align-items-center">
                    <div class="review-meta d-flex align-items-center">
                      <i class="fas fa-star fz10 review-color me-2"></i>
                      <p class="mb-0 body-color fz14"><span class="dark-color me-2">{{ mediator.add_info_for_mediator.rate }}</span></p>
                    </div>
                    <div class="budget">
                      <p class="mb-0 body-color">Starting at<span class="fz17 fw500 dark-color ms-1">${{ mediator.add_info_for_mediator.summary }}</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="opacity-100 mt-0">
            {% endfor %}
            {% comment %}
            <div class="listing-style1 list-style d-block d-xl-flex align-items-center border-0 mb10">
              <div class="list-thumb flex-shrink-0 bdrs4">
                <img class="w-100" src="{% static 'images/listings/g-2.jpg' %}" alt="">
              </div>
              <div class="list-content flex-grow-1 pt0 pb10 pl15 pl0-lg">
                <h6 class="list-title mb-2"><a href="page-services-single.html">I will create modern flat design illustration</a></h6>
                <div class="list-meta d-flex justify-content-between align-items-center">
                  <div class="review-meta d-flex align-items-center">
                    <i class="fas fa-star fz10 review-color me-2"></i>
                    <p class="mb-0 body-color fz14"><span class="dark-color me-2">4.82</span></p>
                  </div>
                  <div class="budget">
                    <p class="mb-0 body-color">Starting at<span class="fz17 fw500 dark-color ms-1">$983</span></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="opacity-100 mt-0">
            <div class="listing-style1 list-style d-block d-xl-flex align-items-center border-0 mb-0">
              <div class="list-thumb flex-shrink-0 bdrs4">
                <img class="w-100" src="{% static 'images/listings/g-6.jpg' %}" alt="">
              </div>
              <div class="list-content flex-grow-1 pt0 pb-0 pl15 pl0-lg pe-0">
                <h6 class="list-title mb-2"><a href="page-services-single.html">I will build a fully responsive design in HTML,CSS, bootstrap, and javascript</a></h6>
                <div class="list-meta d-flex justify-content-between align-items-center">
                  <div class="review-meta d-flex align-items-center">
                    <i class="fas fa-star fz10 review-color me-2"></i>
                    <p class="mb-0 body-color fz14"><span class="dark-color me-2">4.82</span></p>
                  </div>
                  <div class="budget">
                    <p class="mb-0 body-color">Starting at<span class="fz17 fw500 dark-color ms-1">$983</span></p>
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xxl-4">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
          <div class="d-flex justify-content-between bdrb1 pb15 mb30">
            <h5 class="title">Популярные обращения</h5>
            <a class="text-decoration-underline text-thm6" href="">Смотреть все</a>
          </div>
          <div class="dashboard-img-service">
            {% for conflict in conflicts %}
            <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb10">
              <div class="list-thumb wa flex-shrink-0 bdrs4 mb15-lg">
                <img class="wa img-2" src="{% static 'images/team/client-1.png' %}" alt="">
              </div>
              <div class="list-content flex-grow-1 py-0 pb10 pl15 pl0-lg">
                <h6 class="list-title mb-2">{{ conflict.description }}</h6>
                <div class="list-meta d-flex justify-content-between align-items-center">
                  <div class="review-meta d-flex align-items-center">
                    <p class="mb-0 body-color fz14">{{ conflict.updated }}</p>
                  </div>
                  <div class="budget">
                    <p class="mb-0"><span class="fz15 fw500 dark-color">${{ conflict.fixed_price }}</span></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="opacity-100 mt-0">
            {% endfor %}
            {% comment %}
            <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb10 mt20">
              <div class="list-thumb wa flex-shrink-0 bdrs4 mb15-lg">
                <img class="wa img-2" src="{% static 'images/team/client-3.png' %}" alt="">
              </div>
              <div class="list-content flex-grow-1 py-0 pb10 pl15 pl0-lg">
                <h6 class="list-title mb-2">Medium. <span class="text-thm">has purchased</span> I will deal with your item Description and assets</h6>
                <div class="list-meta d-flex justify-content-between align-items-center">
                  <div class="review-meta d-flex align-items-center">
                    <p class="mb-0 body-color fz14">February 26, 2021</p>
                  </div>
                  <div class="budget">
                    <p class="mb-0"><span class="fz15 fw500 dark-color">$983</span></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="opacity-100 mt-0">
            <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0 mt20">
              <div class="list-thumb wa flex-shrink-0 bdrs4 mb15-lg">
                <img class="wa img-2" src="{% static 'images/team/client-6.png' %}" alt="">
              </div>
              <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                <h6 class="list-title mb-2">Medium. <span class="text-thm">has purchased</span> I will deal with your item Description and assets</h6>
                <div class="list-meta d-flex justify-content-between align-items-center">
                  <div class="review-meta d-flex align-items-center">
                    <p class="mb-0 body-color fz14">February 26, 2021</p>
                  </div>
                  <div class="budget">
                    <p class="mb-0"><span class="fz15 fw500 dark-color">$983</span></p>
                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xxl-4">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
          <div class="bdrb1 pb15 mb30">
            <h5 class="title">Последние действия</h5>
          </div>
          <div class="dashboard-timeline-label">
            <div class="timeline-item pb15">
              <!--begin::Label-->
              <div class="child-timeline-label">08:42</div>
              <!--end::Label-->
              <!--begin::Badge-->
              <div class="timeline-badge d-flex align-items-center">
                <i class="fas fa-genderless"></i>
              </div>
              <!--end::Badge-->
              <!--begin::Text-->
              <div class="ra_pcontent pl10"><span class="title">Взял
                конфликт</span> <br>
                <span class="subtitle">Корпоративные тёрки</span></div>
              <!--end::Text-->
            </div>
          </div>
          <div class="dashboard-timeline-label">
            <div class="timeline-item pb15">
              <!--begin::Label-->
              <div class="child-timeline-label">14:37</div>
              <!--end::Label-->
              <!--begin::Badge-->
              <div class="timeline-badge d-flex align-items-center color3">
                <i class="fas fa-genderless"></i>
              </div>
              <!--end::Badge-->
              <!--begin::Text-->
              <div class="ra_pcontent pl10">
                <span class="title">Оплатил тариф <span
                        class="text-thm6 fw500">USD 700</span> порталу</span>
              </div>
              <!--end::Text-->
            </div>
          </div>
          <div class="dashboard-timeline-label">
            <div class="timeline-item pb0">
              <!--begin::Label-->
              <div class="child-timeline-label">16:50</div>
              <!--end::Label-->
              <!--begin::Badge-->
              <div class="timeline-badge d-flex align-items-center color4">
                <i class="fas fa-genderless"></i>
              </div>
              <!--end::Badge-->
              <!--begin::Text-->
              <div class="ra_pcontent pl10"><span class="title">Наташа
                Семёнова закрыла конфликт</span> <br>
                <span class="subtitle">Конфликт урегулирован</span></div>
              <!--end::Text-->
            </div>
          </div>
          <div class="dashboard-timeline-label">
            <div class="timeline-item pb10">
              <!--begin::Label-->
              <div class="child-timeline-label">21:03</div>
              <!--end::Label-->
              <!--begin::Badge-->
              <div class="timeline-badge d-flex align-items-center color5">
                <i class="fas fa-genderless"></i>
              </div>
              <!--end::Badge-->
              <!--begin::Text-->
              <div class="ra_pcontent pl10"><span class="title">Получен
                счёт на оплату</span> <br>
                <span class="subtitle">Тариф старт на сентябрь</span></div>
              <!--end::Text-->
            </div>
          </div>
          <div class="dashboard-timeline-label before-none mb30">
            <div class="timeline-item">
              <!--begin::Label-->
              <div class="child-timeline-label">23:07</div>
              <!--end::Label-->
              <!--begin::Badge-->
              <div class="timeline-badge d-flex align-items-center color6">
                <i class="fas fa-genderless"></i>
              </div>
              <!--end::Badge-->
              <!--begin::Text-->
              <div class="ra_pcontent pl10"><span class="title">Отправил
                Семёновой новый оффер</span>
                <br>
                <span class="subtitle"> С вас 1000 баксов в день и
                  утренний амлет</span></div>
              <!--end::Text-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content User End -->
  {% endif %}
{% endblock dash-content %}
