{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-content %}

<!-- User About Details -->
    <section class="pt0 pb90 pb30-md">
      <div class="container">
        <div class="row wrap wow fadeInUp">
          <div class="col-lg-8">
            <div class="column">
              <div
                      class="px30 pt30 pb30 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                <div class="position-relative overflow-hidden d-flex align-items-center">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="position-relative">
                        <div class="list-meta d-sm-flex align-items-center">
                          <a class="position-relative freelancer-single-style" href="">
                            <span class="online"></span>
                            <img class="rounded-circle w-100 wa-sm mb15-sm" src="{% static 'images/team/fl-1.png' %}" alt="Freelancer Photo">
                          </a>
                          <div class="ml20 ml0-xs">
                            <h5 class="title mb-1">Дарья Островская</h5>
                            <p class="mb-0">Пользователь</p>
                            <p
                                    class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs"><i class="flaticon-30-days vam fz20 me-2"></i> На портале с 10 апреля 2023</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-about">
                <div class="bsp_reveiw_wrt p30 mb30 bg-white bdrs12 wow fadeInUp bdr1">
                  <h6 class="fz17">Написать</h6>
                  <form class="comments_form mt30 mb30-md">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-4">
                          <label
                                  class="fw500 fz16 ff-heading dark-color mb-2">Сообщение</label>
                          <textarea class="pt15" rows="6"
                                    placeholder="Ваше сообщение"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <a href="" class="ud-btn btn-dark">Отправть<i
                                class="fal fa-arrow-right-long"></i></a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="column">
              <div class="blog-sidebar ms-lg-auto">
                <div class="price-widget pt25 bdrs12 default-box-shadow1s">
                  <div class="category-list mt20">
                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-place text-thm2 pe-2 vam"></i>Место:</span> <span class="">Москва, Россия</span>
                    </a>
                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-30-days text-thm2 pe-2 vam"></i>На портале с </span> <span class="">10.04.2023</span>
                    </a>
                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="">
                      <span class="text"><i
                              class="flaticon-calendar text-thm2 pe-2 vam"></i>Последняя авторизация </span> <span class="">12.10.2023</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- Dashboard Content End -->
{% endblock dash-content %}