{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-content %}
<!-- Dashboard Content -->

<div class="row align-items-center justify-content-between pb40">
    <div class="col-lg-6">
        <div class="dashboard_title_area">
            <h2>Оплаты</h2>
            <p class="text">Моней моней моней.</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="text-lg-end">
            <a href="page-freelancer-v1.html"
               class="ud-btn btn-dark default-box-shadow2">Создать счёт<i
                    class="fal fa-arrow-right-long"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs4 p30 mb60 overflow-hidden position-relative">
            <div class="packages_table table-responsive">
                <table class="table-style3 table at-savesearch">
                    <thead class="t-head">
                    <tr>
                        <th scope="col">Сумма</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Метод оплаты</th>
                        <th scope="col">Статус</th>
                    </tr>
                    </thead>
                    <tbody class="t-body">
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">на карту</td>
                        <td class="vam"><span
                                class="pending-style style1">выставлен
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">по счёту</td>
                        <td class="vam"><span
                                class="pending-style style2">Оплачен
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Bank Transfer</td>
                        <td class="vam"><span class="pending-style style2">Completed</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Bank Transfer</td>
                        <td class="vam"><span class="pending-style style2">Completed</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Paypal</td>
                        <td class="vam"><span class="pending-style style2">Completed</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="active">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Bank Transfer</td>
                        <td class="vam"><span class="pending-style style2">Completed</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Paypal</td>
                        <td class="vam"><span class="pending-style style1">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Payoneer</td>
                        <td class="vam"><span class="pending-style style3">Cancel</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Payoneer</td>
                        <td class="vam"><span class="pending-style style1">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">$1.800</th>
                        <td class="vam">April 9, 2023</td>
                        <td class="vam">Paypal</td>
                        <td class="vam"><span class="pending-style style3">Cancel</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="mbp_pagination dark-style text-center mt30">
                    <ul class="page_navigation">
                        <li class="page-item">
                            <a class="page-link" href="#"> <span
                                    class="fas fa-angle-left"></span></a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">3</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">4</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">5</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">...</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="#">20</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><span
                                    class="fas fa-angle-right"></span></a>
                        </li>
                    </ul>
                    <p class="mt10 mb-0 pagination_page_count text-center">1 –
                        20 of 300+ property available</p>
                </div>
            </div>
        </div>
        <div class="ps-widget bgc-white bdrs4 p30 mb30 position-relative">
            <div class="row">
                <div class="col-lg-9">
                    <div class="bdrb1 pb15">
                        <h5 class="list-title">Payout Methods</h5>
                    </div>
                    <div class="widget-wrapper mt35">
                        <h6 class="list-title mb10">Select default payout
                            method</h6>
                        <div class="bootselect-multiselect">
                            <select class="selectpicker">
                                <option>Paypal</option>
                                <option data-tokens="BankTransfer">Bank
                                    Transfer
                                </option>
                                <option data-tokens="Chicago">Payoneer</option>
                            </select>
                        </div>
                    </div>
                    <h5 class="mb15">Payout Details</h5>
                    <div class="navpill-style1 payout-style">
                        <ul class="nav nav-pills align-items-center justify-content-center mb30"
                            id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fw500 dark-color"
                                        id="pills-home-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-home"
                                        type="button" role="tab"
                                        aria-controls="pills-home"
                                        aria-selected="true">Paypal
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active fw500 dark-color"
                                        id="pills-profile-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-profile"
                                        type="button" role="tab"
                                        aria-controls="pills-profile"
                                        aria-selected="false">Bank Transfer
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link fw500 dark-color"
                                        id="pills-contact-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-contact"
                                        type="button" role="tab"
                                        aria-controls="pills-contact"
                                        aria-selected="false">Payoneer
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-home"
                                 role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <form class="form-style1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Holder Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Routing Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    IBAN</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Swift
                                                    Code</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-start">
                                                <a class="ud-btn btn-thm"
                                                   href="/templates/page-contact.html">Save
                                                    Detail<i
                                                            class="fal fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade show active"
                                 id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <form class="form-style1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Holder Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Routing Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    IBAN</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Swift
                                                    Code</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-start">
                                                <a class="ud-btn btn-thm"
                                                   href="/templates/page-contact.html">Save
                                                    Detail<i
                                                            class="fal fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-contact"
                                 role="tabpanel"
                                 aria-labelledby="pills-contact-tab">
                                <form class="form-style1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Account Holder Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    Routing Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Bank
                                                    IBAN</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <label class="heading-color ff-heading fw500 mb-1">Swift
                                                    Code</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="creativelayers088@gmail.com">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-start">
                                                <a class="ud-btn btn-thm"
                                                   href="/templates/page-contact.html">Save
                                                    Detail<i
                                                            class="fal fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dashboard Content End -->
{% endblock dash-content %}

