{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_list_mediators='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
  {% include 'dashboard/includes/dash-sidebar-list.html' with active_list_mediators='-is-active' %}
{% endblock %}


{% block dash-title %}
Список медиаторов
{% endblock dash-title %}


{% block dash-description %}
Найди своего медиатора
{% endblock dash-description %}


{% block dash-content %}

<!-- Listings All Lists -->
{% include 'includes/list_mediators.html' %}

<!-- Dashboard Content End -->
{% endblock dash-content %}