{% extends 'dashboard/base-dashboard.html' %}
{% load static %}


{% block dash-title %}
<h1>Мои сообщения

</h1>
{% endblock dash-title %}

{% block dash-description %}
<p>Жи Ши пиши с буквой И</p>
{% endblock dash-description %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_messages='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
    {% include 'dashboard/includes/dash-sidebar-list.html' with active_messages='-is-active' %}
{% endblock %}


{% block dash-content %}

<!-- My messages -->

<div class="row mb40">
    <div class="col-lg-6 col-xl-5 col-xxl-4">
        <h5>Контакты: </h5>
        <div class="message_container">
            <div class="inbox_user_list">
                <div class="iu_heading pr35">
                <center><form method="POST" action="">
                    {% csrf_token %}
                    {{ form.contact }}
                    <div class="col-md-12">
                        <div class="text-start">
                            <center><button class="ud-btn btn-thm mb20 mt10" type="submit">Добавить участников
                                <i class="fal fa-arrow-right-long"></i>
                            </button></center>
                        </div>
                    </div>
                </form></center>
                </div>
                <div class="chat-member-list pr20">
                    {% if contacts_user %}
                    {% for contact in contacts_user %}
                    <div class="list-item pt5">
                        <a href="{% url 'dashboard:my-messages' %}{{contact.contact.id}}/">
                            <div class="d-flex align-items-center position-relative">
                                {% if contact.contact.profile_image %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{{ contact.contact.profile_image.url }}"
                                     style="width: 50px; height: 50px; margin-right: 10px;">
                                {% else %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{% static 'images/team/fl-1.png' %}"
                                     style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                                {% endif %}
                                <div class="d-sm-flex">
                                    <div class="d-inline-block">
                                        <div class="fz15 fw500 dark-color ff-heading mb-0">
                                            {{ contact.contact.firstname }} {{ contact.contact.lastname }}
                                        </div>
                                        <p class="preview">{{ contact.last_message_time}}</p>
                                    </div>
                                    <div class="iul_notific">
                                        <small></small>
                                        {% if contact.new_messages == True %}<div class="m_notif"></div> {% endif %}
                                    </div>
                                    <div class="switch-style1">
<!--                                        <div-->
<!--                                                class="form-check form-switch ml20 mb20">-->
<!--                                            <input class="form-check-input"-->
<!--                                                   type="checkbox"-->
<!--                                                   id="flexSwitchCheckDefault1"-->
<!--                                                   checked="checked">-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="chat-member-list pr20">
                        <div class="fz15 fw500 dark-color ff-heading mb-0">
                            Участников пока нет
                        </div>
                    </div>
                    {% endif %}

                </div>
<!--                <div class="iu_heading pr35">-->
<!--                    <div class="chat_user_search">-->
<!--                        <form class="d-flex align-items-center">-->
<!--                            <button class="btn" type="submit"><span-->
<!--                                    class="far fa-magnifying-glass"></span>-->
<!--                            </button>-->
<!--                            <input class="form-control" type="search"-->
<!--                                   placeholder=" Искать" aria-label="Search">-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-xl-7 col-xxl-8">
        <h5>Личный чат:</h5>

        {% if user_from_contact %}

        <div class="mi_text">

                <div class="message_input">
<!--                    <form class="d-flex align-items-center">-->
                        <input id="chat-message-input" class="form-control" type="search"
                               placeholder="Текст сообщения"
                               aria-label="Search">
                        <button id="chat-message-submit" class="btn ud-btn btn-thm mb20 mt10">Отправить<i
                                class="fal fa-arrow-right-long"></i></button>
<!--                    </form>-->
                </div>
        </div>


        <div class="message_container mt30-md">
            <div class="user_heading px-0 mx30">
                <div class="wrap">
                  {% if user_from_contact.profile_image %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{{ user_from_contact.profile_image.url }}"
                                     style="width: 50px; height: 50px; margin-right: 10px;">
                                {% else %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{% static 'images/team/fl-1.png' %}"
                                     style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                                {% endif %}

<!--                    <img class="img-fluid mr10" src="{% static 'images/inbox/ms3.png' %}"-->
<!--                         alt="ms3.png">-->
                    <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                        <div class="authors">
                            <h6 class="name mb-0">{{ user_from_contact.firstname }} {{user_from_contact.lastname }}</h6>
                            <p class="preview">Переписка с пользователем</p>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="inbox_chatting_box" style="">
                <ul  id="chat-log" class="chatting_content">

                    {% for message in user_messages %}
                    <li class="sent float-start">
                        <div class="d-flex align-items-center mb15">
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms4.png' %}" alt="ms4.png">-->
                            <div class="title fz15">
                              {{ message.from_user.firstname }} {{ message.from_user.lastname }}
                              <small
                                    class="ml10">{{ message.message_time | date:'d-m-Y H:i' }}</small></div>
                        </div>
                        <p>{{ message.message }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
<!--            <div class="mi_text">-->
<!--                <div class="message_input">-->
<!--&lt;!&ndash;                    <form class="d-flex align-items-center">&ndash;&gt;-->
<!--                        <input id="chat-message-input" class="form-control" type="search"-->
<!--                               placeholder="Напиши комментарий"-->
<!--                               aria-label="Search">-->
<!--                        <button id="chat-message-submit" class="btn ud-btn btn-thm">Отправить<i-->
<!--                                class="fal fa-arrow-right-long"></i></button>-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

        </div>
        {% else %}

        <div class="message_container mt30-md">
            <div class="user_heading px-0 mx30">
                <div class="wrap">
                    <p>Не выбран адрессат</p>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>

{{ id_user|json_script:"room-name1" }}
{{ id_user_from_pk|json_script:"room-name2" }}

{% if user_from_contact %}
<script>

        const id_1 = JSON.parse(document.getElementById('room-name1').textContent);
        const id_2 = JSON.parse(document.getElementById('room-name2').textContent);
        var roomName
        if (id_1 < id_2) {
        roomName = id_1 + id_2;
        console.log('TTTTTTTTTTTTTTTT');
                    } else {
        console.log('RRRRRRRRRRRRRR');
        roomName = id_2 + id_1;
                    }



<!--        const roomName = JSON.parse(document.getElementById('room-name').textContent);-->
        console.log('RoomName is ==', roomName)

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/dashboard/my-messages/'
            + roomName
            + '/'
        );

        console.log('chatSoket is ==', chatSocket)

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('data is ', data)
            document.querySelector('#chat-log').value += (data.sender_lastname + '  ' + data.sender_firstname + ' ' + data.message + '\n');

            var block = document.createElement('li');
<!--            var li_text = data.message-->
            var html_block = '<div class="d-flex align-items-center mb15">' + '<div class="title fz15">' + data.sender_firstname + ' ' + data.sender_lastname + '<small class="ml10">' + data.message_time + '</small></div></div><p>' + data.message + '</p>'
            block.innerHTML = html_block
            console.log(block);
            ul_block = document.querySelectorAll('#chat-log')[0];
            console.log(ul_block);
            ul_block.prepend(block);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const id_from_msg = id_1;
            const id_to_msg = id_2;
            chatSocket.send(JSON.stringify({
                'message': message,
                'id_from_msg': id_from_msg,
                'id_to_msg': id_to_msg
            }));
            messageInputDom.value = '';
        };
    </script>

{% endif %}

<!-- Dashboard Content End -->
{% endblock dash-content %}
