{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-sidebar %}
    {% include 'dashboard/includes/dash-sidebar-list.html' with active_create_project='-is-active'  %}
{% endblock %}

{% block dash-content %}
<!-- Dashboard Content-->
<div class="row pb40">
    <div class="col-lg-9">
        <div class="dashboard_title_area">
            <h2>Создать обращение</h2>
            <p class="text">Заполните форму обращения и опубликуйте</p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="text-lg-end">
            <a href="/dashboard/user/manage-jobs/" class="ud-btn btn-dark" type="submit" >Мои конфликты<i
                    class="fal fa-arrow-right-long"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
            <div class="bdrb1 pb15 mb25">
                <h5 class="list-title">Первичная информация</h5>
            </div>
            <div class="col-xl-8">
                <form class="form-style1"
                      action=""
                      method="post"
                >
                    {% csrf_token %}
                    {{ form.creator }}
                    {{ form.status }}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Заголовок обращения</label>
                                {{ form.title }}
                            </div>
                        </div>
<!--                        <div class="col-md-12">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label-->
<!--                                            class="heading-color ff-heading fw500 mb10">Статус конфликта</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.status }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-sm-12">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label
                                            class="heading-color ff-heading fw500 mb10">Категория конфликта</label>
                                    <div class="bootselect-multiselect">
                                        {{ form.category }}
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label-->
<!--                                            class="heading-color ff-heading fw500 mb10">Медиатор</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.mediator }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <label-->
<!--                                        class="heading-color ff-heading fw500 mb10">Уровень медиатора</label>-->
<!--                                <div class="bootselect-multiselect">-->
<!--                                    {{ form.mediators_level }}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <label-->
<!--                                        class="heading-color ff-heading fw500 mb10">Цена</label>-->
<!--                                <div class="bootselect-multiselect">-->
<!--                                    {{ form.prise }}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-sm-6">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Цена</label>
                                {{ form.fixed_price }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label
                                            class="heading-color ff-heading fw500 mb10">Время на решение</label>
                                    <div class="bootselect-multiselect">
                                        {{ form.decide_time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Страна</label>
                                    <div class="bootselect-multiselect">
                                        {{ form.country }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Город</label>
                                    <div class="bootselect-multiselect">
                                        {{ form.city }}
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label class="heading-color ff-heading fw500 mb10">Язык</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.language }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label class="heading-color ff-heading fw500 mb10">-->
<!--                                        Уровень владения языком</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.language_level }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-12">
                            <div class="mb10">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Описание сути конфликта</label>
                                {{ form.description }}
                            </div>
                        </div>
<!--                        <div class="col-md-12">-->
<!--                            <div class="mb10">-->
<!--                                <label-->
<!--                                        class="heading-color ff-heading fw500 mb10">Доступно для всех?</label>-->
<!--                                {{ form.is_all_visible }}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label-->
<!--                                            class="heading-color ff-heading fw500 mb10">Медиатор</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.mediator }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<!--                            <div class="mb20">-->
<!--                                <div class="form-style1">-->
<!--                                    <label-->
<!--                                            class="heading-color ff-heading fw500 mb10">Респондент</label>-->
<!--                                    <div class="bootselect-multiselect">-->
<!--                                        {{ form.respondents }}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-12">
                            <div class="text-start">
                                <button class="ud-btn btn-thm" type="submit">Опубликовать
                                    <i class="fal fa-arrow-right-long"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Dashboard Content End -->
{% endblock dash-content %}




