{% extends 'dashboard/base-dashboard.html' %}
{% load static %}


{% block dash-title %}
Зона решения конфликта
{% endblock dash-title %}


{% block dash-description %}
Досудебное решение
{% endblock dash-description %}


{% block dash-content %}

<div class="row">
    <div class="col-lg-8 p60">
        <div class="column">
            <div class="service-about">
                <h3>{{ conflict.title }}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <a href="{% url 'user-about' conflict.creator.id %}"
                           class="btn ud-btn btn-thm mb50">
                            {% if conflict.creator.profile_image %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{{ conflict.creator.profile_image.url }}"
                                 style="width: 50px; height: 50px; margin-right: 10px;">
                            {% else %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{% static 'images/team/fl-1.png' %}"
                                 style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                            {% endif %}
                            Создатель: {{ conflict.creator.firstname }}
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'mediator-about' conflict.mediator.id %}" class="btn ud-btn btn-thm mb50">
                            {% if conflict.mediator.profile_image %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{{ conflict.mediator.profile_image.url }}"
                                 style="width: 50px; height: 50px; margin-right: 10px;">
                            {% else %}
                            <img class="img-fluid float-start rounded-circle mr10"
                                 src="{% static 'images/team/fl-1.png' %}"
                                 style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                            {% endif %}
                            Медиатор: {{ conflict.mediator.firstname }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <h5>Описание конфликта:</h5>
                    <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                        <p class="text mb30">{{ conflict.description }}</p>
                    </div>
                    <hr class="opacity-100 mb60 mt30">
                </div>

<!--                <div class="row">-->
<!--                    <h4 class="mb30">Прикреплённые файлы (пока это нетрогаем)</h4>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <div class="project-attach">-->
<!--                            <h6 class="title">Договор</h6>-->
<!--                            <p>PDF</p>-->
<!--                            <span class="icon flaticon-page"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-6 col-lg-3">-->
<!--                        <div class="project-attach">-->
<!--                            <h6 class="title">Выписка с банка</h6>-->
<!--                            <p>PDF</p>-->
<!--                            <span class="icon flaticon-page"></span>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>
</div>
<div class="row mb40">
    <div class="col-lg-6 col-xl-5 col-xxl-4">
        <h5>Стороны конфликта:</h5>
        <div class="message_container">
            <div class="inbox_user_list">
<!--                <div class="iu_heading pr35">-->
<!--                    <div class="chat_user_search">-->
<!--                        <form class="d-flex align-items-center">-->
<!--                            <button class="btn" type="submit"><span-->
<!--                                    class="far fa-magnifying-glass"></span>-->
<!--                            </button>-->
<!--                            <input class="form-control" type="search"-->
<!--                                   placeholder=" Искать" aria-label="Search">-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
                {% if conflict.respondents.all %}
                {% for respondent in conflict.respondents.all %}
                <div class="list-item pt5">
                    <a href="#">
                        <div class="d-flex align-items-center position-relative">
                                {% if respondent.profile_image %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{{ respondent.profile_image.url }}"
                                     style="width: 50px; height: 50px; margin-right: 10px;">
                                {% else %}
                                <img class="img-fluid float-start rounded-circle mr10"
                                     src="{% static 'images/team/fl-1.png' %}"
                                     style="width: 50px; height: 50px; margin-right: 10px;" alt="">
                                {% endif %}
                            <div class="d-sm-flex">
                                <div class="d-inline-block">
                                    <div class="fz15 fw500 dark-color ff-heading mb-0">
                                        {{ respondent.firstname }}
                                    </div>
                                    <p class="preview">Участник</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div class="chat-member-list pr20">
                    <div class="fz15 fw500 dark-color ff-heading mb-0">
                        Участников пока нет
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
<!--    <div class="col-lg-6 col-xl-7 col-xxl-8">-->
<!--        <h5>Комментарии:</h5>-->
<!--        <div class="message_container mt30-md">-->
<!--            <div class="user_heading px-0 mx30">-->
<!--                <div class="wrap">-->
<!--                    <img class="img-fluid mr10" src="{% static 'images/inbox/ms3.png' %}"-->
<!--                         alt="ms3.png">-->
<!--                    <div class="meta d-sm-flex justify-content-sm-between align-items-center">-->
<!--                        <div class="authors">-->
<!--                            <h6 class="name mb-0">Arlene McCoy</h6>-->
<!--                            <p class="preview">на связи</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="inbox_chatting_box" style="">-->
<!--                <ul class="chatting_content">-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms4.png' %}" alt="ms4.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>How likely are you to recommend our company to your-->
<!--                            friends and family?</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms5.png' %}" alt="ms5.png">-->
<!--                        </div>-->
<!--                        <p>Hey there, we’re just writing to let you know that-->
<!--                            you’ve been subscribed to a repository on-->
<!--                            GitHub.</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms5.png" alt="ms5.png' %}">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>Ok, Understood!</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms5.png' %}" alt="ms5.png">-->
<!--                        </div>-->
<!--                        <p>The project finally complete! Let's go to!.</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>Let's go!</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>simply dummy text of the printing and typesetting-->
<!--                            industry. Lorem Ipsum has been the industry's</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>Hello, John!</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms3.png' %}" alt="ms3.png">-->
<!--                        </div>-->
<!--                        <p>simply dummy text of the printing and typesetting-->
<!--                            industry. Lorem Ipsum has been the industry's</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms3.png' %}" alt="ms3.png">-->
<!--                        </div>-->
<!--                        <p>Are we meeting today?</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms3.png' %}" alt="ms3.png">-->
<!--                        </div>-->
<!--                        <p>The project finally complete! Let's go to!</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>Let's go!</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>simply dummy text of the printing and typesetting-->
<!--                            industry. Lorem Ipsum has been the industry's</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms3.png' %}" alt="ms3.png">-->
<!--                        </div>-->
<!--                        <p>Are we meeting today?</p>-->
<!--                    </li>-->
<!--                    <li class="reply float-end">-->
<!--                        <div class="d-flex align-items-center justify-content-end mb15">-->
<!--                            <div class="title fz15"><small class="mr10">35-->
<!--                                mins</small> You-->
<!--                            </div>-->
<!--                            <img class="img-fluid rounded-circle align-self-end ml10"-->
<!--                                 src="{% static 'images/inbox/ms3.png' %}" alt="ms3.png">-->
<!--                        </div>-->
<!--                        <p>The project finally complete! Let's go to!</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>Let's go!</p>-->
<!--                    </li>-->
<!--                    <li class="sent float-start">-->
<!--                        <div class="d-flex align-items-center mb15">-->
<!--                            <img class="img-fluid rounded-circle align-self-start mr10"-->
<!--                                 src="{% static 'images/inbox/ms2.png' %}" alt="ms2.png">-->
<!--                            <div class="title fz15">Albert Flores <small-->
<!--                                    class="ml10">35 mins</small></div>-->
<!--                        </div>-->
<!--                        <p>simply dummy text of the printing and typesetting-->
<!--                            industry. Lorem Ipsum has been the industry's</p>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="mi_text">-->
<!--                <div class="message_input">-->
<!--                    <form class="d-flex align-items-center">-->
<!--                        <input class="form-control" type="search"-->
<!--                               placeholder="Напиши комментарий"-->
<!--                               aria-label="Search">-->
<!--                        <button class="btn ud-btn btn-thm">Отправить<i-->
<!--                                class="fal fa-arrow-right-long"></i></button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
{% endblock dash-content %}
