{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block dash-content %}
<!-- Dashboard Content -->
<div class="row pb40">
    <div class="col-lg-9">
        <div class="dashboard_title_area">
            <h2>Создать обращение</h2>
            <p class="text">Заполните форму обращения и опубликуйте</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="text-lg-end">
            <a href="" class="ud-btn btn-dark">Опубликовать<i
                    class="fal fa-arrow-right-long"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
            <div class="bdrb1 pb15 mb25">
                <h5 class="list-title">Первичная информация</h5>
            </div>
            <div class="col-xl-8">
                <form class="form-style1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Заголовок обращения</label>
                                <input type="text" class="form-control"
                                       placeholder="Отцы и дети">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label
                                            class="heading-color ff-heading fw500 mb10">Категория конфликта</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker">
                                            <option>Выбрать</option>
                                            <option>Корпоративный</option>
                                            <option>Бизнес</option>
                                            <option>Семейный
                                            </option>
                                            <option>Недвижимость</option>
                                            <option>Наследство</option>
                                            <option>Личный</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Уровень медиатора</label>
                                <div class="bootselect-multiselect">
                                    <select class="selectpicker">
                                        <option>Выбрать</option>
                                        <option>Новичёк</option>
                                        <option>Бывалый</option>
                                        <option>Дорогой</option>
                                        <option>Уровень Бог</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Цена</label>
                                <div class="bootselect-multiselect">
                                    <select class="selectpicker">
                                        <option>Выбрать</option>
                                        <option>Низкая($)</option>
                                        <option>Средняя($$)</option>
                                        <option>Высокая($$$)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Цена</label>
                                <input type="email" class="form-control"
                                       placeholder="$">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label
                                            class="heading-color ff-heading fw500 mb10">Время на решение</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker">
                                            <option>Выбрать</option>
                                            <option>1 День</option>
                                            <option>2 Дня</option>
                                            <option>3 Дня</option>
                                            <option>1 Неделя</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Level</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker">
                                            <option>Select</option>
                                            <option>Entry Level</option>
                                            <option>Standard Level</option>
                                            <option>Expert Level</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Country</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker">
                                            <option>Turkey</option>
                                            <option>United Kingdom</option>
                                            <option>United State</option>
                                            <option>Ukraine</option>
                                            <option>Uruguay</option>
                                            <option>UK</option>
                                            <option>Uzbekistan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">City</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker">
                                            <option data-tokens="California">
                                                California
                                            </option>
                                            <option data-tokens="Chicago">
                                                Chicago
                                            </option>
                                            <option data-tokens="LosAngeles">
                                                Los Angeles
                                            </option>
                                            <option data-tokens="Manhattan">
                                                Manhattan
                                            </option>
                                            <option data-tokens="NewJersey">New
                                                Jersey
                                            </option>
                                            <option data-tokens="NewYork">New
                                                York
                                            </option>
                                            <option data-tokens="SanDiego">San
                                                Diego
                                            </option>
                                            <option data-tokens="SanFrancisco">
                                                San Francisco
                                            </option>
                                            <option data-tokens="Texas">Texas
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Languages</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker" multiple>
                                            <option>English</option>
                                            <option>Spanish</option>
                                            <option>Greek</option>
                                            <option>Tarkish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Languages
                                        Level</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker" multiple>
                                            <option>Select</option>
                                            <option>Fluent</option>
                                            <option>Mid Level</option>
                                            <option>Conversational</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb20">
                                <div class="form-style1">
                                    <label class="heading-color ff-heading fw500 mb10">Skills</label>
                                    <div class="bootselect-multiselect">
                                        <select class="selectpicker" multiple>
                                            <option>Figma</option>
                                            <option>Adobe XD</option>
                                            <option>CSS</option>
                                            <option>HTML</option>
                                            <option>Bootstrap</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb10">
                                <label
                                        class="heading-color ff-heading fw500 mb10">Описание сути конфликта</label>
                                <textarea cols="30" rows="6"
                                          placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-start">
                                <a class="ud-btn btn-thm"
                                   href="/templates/page-contact.html">Сохранить<i
                                        class="fal fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 p30 mb30 overflow-hidden position-relative">
            <div class="bdrb1 pb15 mb25">
                <h5 class="list-title">Загрузите документы</h5>
            </div>
            <div class="row">
                <div class="col-6 col-xl-2">
                    <div class="project-attach">
                        <h6 class="title">Документы</h6>
                        <p>PDF</p>
                        <span class="icon flaticon-page"></span>
                    </div>
                </div>
                <div class="col-6 col-xl-2">
                    <div class="project-attach">
                        <h6 class="title">Фотографии</h6>
                        <p>jpg</p>
                        <span class="icon flaticon-page"></span>
                    </div>
                </div>
                <div class="col-6 col-xl-3">
                    <a class="upload-img" href="">Загрузить файлы</a>
                </div>
            </div>
            <p class="text">Максимальный размер файла: 10 MB</p>
            <div class="text-start">
                <a class="ud-btn btn-thm" href="/templates/page-contact.html">Сохранить
                 и опубликовать<i class="fal fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard Content End -->
{% endblock dash-content %}