{% extends 'dashboard/base-dashboard.html' %}
{% load static %}

{% block title %}
{{ conflict.title }}
{% endblock title %}

{% block dash-title %}
{% endblock dash-title %}

{% block dash-description %}
{% endblock dash-description %}

{% block dash-content %}

    <!-- Conflict Details -->
    <section class="pt30">
      <div class="container">
        <div class="row wrap">
          <div class="col-lg-8">
            <div class="column">
              <div class="service-about">
                <h3>{{ conflict.title }}</h3>
                  <br>
                <h5>Описание конфликта</h5>
                <p class="text mb30">{{ conflict.description }}</p>

                <hr class="opacity-100 mb60 mt60">
                <h4 class="mb30">Прикреплённые файлы (пока это не трогаем)</h4>
                <div class="row">
                  <div class="col-6 col-lg-3">
                    <div class="project-attach">
                      <h6 class="title">Договор</h6>
                      <p>PDF</p>
                      <span class="icon flaticon-page"></span>
                    </div>
                  </div>
                  <div class="col-6 col-lg-3">
                    <div class="project-attach">
                      <h6 class="title">Выписка с банка</h6>
                      <p>PDF</p>
                      <span class="icon flaticon-page"></span>
                    </div>
                  </div>
                </div>
                <hr class="opacity-100 mb60 mt30">
                <h4 class="mb30">Категория конфликта</h4>
                <div class="mb60">
                  <a href="" class="tag list-inline-item mb-2 mb-xl-0 mr10">{{ conflict.category }}</a>
                </div>
                <hr class="opacity-100 mb60">
                <h4 class="mb30">Отклики ({{ conflict.responses.count }})</h4>
                <div class="row">
                  {% for response in conflict.responses.all %}
                  <div class="col-md-6 col-lg-12">
                    <div class="freelancer-style1 bdr1 hover-box-shadow row ms-0 align-items-start">
                      <div class="col-xl-10 px-0">
                        <div class="d-lg-flex">
                          <div class="thumb w90 position-relative rounded-circle mb15-md">
                            {% if response.mediator.profile_image %}
                              <img class="rounded-circle mx-auto" src="{{ response.mediator.profile_image.url }}" style="width: 80px; height: 80px" alt="">
                            {% else %}
                              <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-1.png' %}" alt="">
                            {% endif %}
                            <span class="online"></span>
                          </div>
                          <div class="details ml20 ml0-md mb15-md">
                            <h5 class="title mb-1">{{ response.mediator.lastname }} {{ response.mediator.firstname }}</h5>
                            <div class="review mb20">
                              <p class="mb-0 fz14 list-inline-item mb5-sm pe-1">
                                <i class="fas fa-star fz10 review-color pr10"></i>
                                <span class="dark-color">{{ response.mediator.average_rating }}</span>
                                ({{ response.count_reviews }})
                              </p>
                              <p class="mb-0 fz14 list-inline-item mb5-sm pe-1">
                                <i class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 bdrn-md pl15 pl0-md bdrn-xs"></i>
                                {{ response.response_time|date:"d.m.Y H:i" }}
                              </p>

                            </div>
                            <p class="text mb-0">{{ response.comment }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-2 px-0">
                        <div class="text-lg-center text-xl-end mt-0 mt-lg-2 mt-xl-0">
                          <h4>{{ response.rate }} &#x20bd</h4>
                          {% if response.time_for_conflict %}
                            <p class="text mb-0">{{ response.time_on_resolved }}</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div id="send_proposal" class="bsp_reveiw_wrt mt25">
                  <h4>Отправить заявку на решение конфликта:</h4>
                  <form method="post" class="comments_form mt30 mb30-md">
                    {% csrf_token %}
                    {{ form.conflict }}
                    {{ form.mediator }}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb20">
                          <label class="fw500 ff-heading dark-color mb-2">Ваша цена</label>
                          {{ form.rate }}
                          {{ form.rate.errors }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb20">
                          <label class="fw500 ff-heading dark-color mb-2">Ваши сроки</label>
                          {{ form.time_for_conflict }}
                          {{ form.time_for_conflict.errors }}
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-4">
                          <label class="fw500 fz16 ff-heading dark-color mb-2">Сопроводительное письмо</label>
                          {{ form.comment }}
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="d-grid">
                          <button type="submit" class="ud-btn btn-dark">Отправить заявку
                            <i class="fal fa-arrow-right-long"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="column">
              <div class="blog-sidebar ms-lg-auto">
                <div class="price-widget pt25 bdrs8">
                  <p class="text fz14">Цена клиента:</p>
                  <h3 class="widget-title">{{ conflict.fixed_price }} &#x20bd</h3>
                  <p class="text fz14">Сроки клиента:</p>
                  <h3 class="widget-title">{{ conflict.decide_time }}</h3>
                  <div class="d-grid">
                    <a href="#send_proposal" class="ud-btn btn-dark">
                        Отправить заявку<i
                            class="fal fa-arrow-right-long"></i></a>
                  </div>
                </div>
                <div class="freelancer-style1 service-single mb-0 bdrs8">
                  <h4>О клиенте</h4>
                  <div class="wrapper d-flex align-items-center mt20">
                    <div class="thumb position-relative mb25">
                      {% if conflict.creator.profile_image %}
                      <img class="rounded-circle mx-auto" src="{{ conflict.creator.profile_image.url }}" style="width: 80px; height: 80px"  alt="">
                      {% else %}
                      <img class="rounded-circle mx-auto" src="{% static 'images/team/client-2.png' %}" alt="">
                      {% endif %}

                    </div>
                    <div class="ml20">
                      <h5 class="title mb-1">{{ conflict.creator.firstname }}</h5>
                      <p class="mb-0">{{ conflict.creator.lastname }}</p>
                      <p>{{ conflict.creator.email }}</p>
                      {% if conflict.creator.phone %}
                      <p>{{ conflict.creator.phone }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <hr class="opacity-100">
                  <div class="details">
                    <div class="fl-meta d-flex align-items-center justify-content-between">
                      <a class="meta fw500 text-start">Город<br><span
                              class="fz14 fw400">{{ conflict.city }}</span></a>
                      <a class="meta fw500 text-start">Конфликтов<br><span
                              class="fz14 fw400">{{ conflict.creator.created_conflicts.count }}</span></a>
                      <a class="meta fw500 text-start">На портале с<br><span
                              class="fz14 fw400">{{ conflict.creator.create_at|date:"d.m.Y" }}</span></a>
                    </div>
                  </div>
                  <div class="d-grid mt30">
                    <a href="{% url 'dashboard:user-about' %}"
                       class="ud-btn btn-white2">Написать клиенту
                        <i class="fal fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<!-- Dashboard Content End -->
{% endblock dash-content %}