{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Home Banner Intro -->
<section class="hero-home13 at-home17 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="home17-hero-content">
                    <h1 class="banner-title animate-up-1 mb25">МЕДИАЦИЯ
                        <br class="d-none d-xl-block">внесудебное решение
                        КОНФЛИКТОВ</h1>
                    <p class="text-white text animate-up-2"> Медиация - это
                        новый
                        способ разрешения разногласий
                        <br class="d-none d-lg-block">путем выработки решения,
                        отвечающего интересам всех сторон.</p>
                    <div class="d-sm-flex align-items-center mt30 animate-up-3">
                        <a href="/signing/signup/"
                           class="ud-btn btn-1 me-3 bdrs120 btn-1">Решить
                            конфликт</a>
                        <a href="/signing/signup/"
                           class="ud-btn btn-2 bdr1 bdrs120 btn-2">Стать
                            медиатором</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 d-none d-xl-block">
                <div class="home17-hero-img text-center animate-up-1">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="mb30">
                            <img src="{% static 'images/about/home17-hero-1.png' %}"
                                 alt="">
                        </div>
                        <div class="mb30 ml40">
                            <img src="{% static 'images/about/home17-hero-2.png' %}"
                                 alt="">
                        </div>
                    </div>
                    <div>
                        <img src="{% static 'images/about/home17-hero-3.png' %}"
                             alt="">
                    </div>
                    <div class="iconbox-small1 text-start d-flex wow fadeInRight default-box-shadow4 bounce-y">
                        <span class="icon flaticon-badge"></span>
                        <div class="details pl20">
                            <h6 class="mb-1 text-white">Все медиаторы</h6>
                            <p class="text fz13 mb-0 text-white">имеют
                                официальный
                                статус</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our CTA About Mediation-->
<section class="our-features pt-90 pb90 pb30-md">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="cta-style mb30-md">
                    <h2 class="cta-title mb35">Что такое <br
                            class="d-none d-xl-block">МЕДИАЦИЯ?</h2>
                    <p class="text mb55 mb30-md">Медиацией называется
                        внесудебное
                        разрешение спора, возникшего между гражданами в
                        процессе
                        реализации ими своих прав и свобод. Медиация является
                        реальной практической альтернативой судебного
                        разбирательства. При возникновении спора участникам
                        конфликта зачастую очень тяжело найти общий язык и
                        обоюдно
                        мирное решение. По этим причинам стороны спора
                        прибегают к
                        судебной помощи.</p>
                    <a href="page-contact.html"
                       class="ud-btn btn-thm4 bdrs12">Зарегистрироваться <i
                            class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="iconbox-style1 at-home11 mb-xl-5 bg-transparent p-0">
                            <div class="icon before-none text-center"><span
                                    class="flaticon-secure"></span></div>
                            <div class="details">
                                <h4 class="title mt10 mb-3">
                                    Конфиденциальность</h4>
                                <p class="text">Мы гарантируем полную
                                    конфиденциальность
                                    на всех этапах работы. Никакая информация
                                    не будет
                                    сообщена третьей стороне без вашего
                                    согласия или
                                    прямой просьбы.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="iconbox-style1 at-home11 mb-xl-5 bg-transparent p-0">
                            <div class="icon before-none text-center"><span
                                    class="flaticon-web-design"></span></div>
                            <div class="details">
                                <h4 class="title mt10 mb-3">Нейтральность</h4>
                                <p class="text">При урегулировании спора мы
                                    всегда
                                    остаемся нейтральны. Мы не принимаем
                                    сторону в
                                    конфликте, а работаем на его разрешение.
                                    Каждая из
                                    сторон может быть уверена в том, что его
                                    интересы
                                    будут рассмотрены и учтены в равной
                                    степени.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="iconbox-style1 at-home11 mb-xl-5 bg-transparent p-0">
                            <div class="icon before-none text-center"><span
                                    class="flaticon-cv"></span></div>
                            <div class="details">
                                <h4 class="title mt10 mb-3">Законность</h4>
                                <p class="text">Мы работаем в полном
                                    соответствии с
                                    Федеральным законом «Об альтернативной
                                    процедуре
                                    урегулирования споров с участием посредника
                                    (процедуре
                                    медиации)».</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="iconbox-style1 at-home11 mb-xl-5 bg-transparent p-0">
                            <div class="icon before-none text-center"><span
                                    class="flaticon-customer-service"></span>
                            </div>
                            <div class="details">
                                <h4 class="title mt10 mb-3">Индивидуальный
                                    подход</h4>
                                <p class="text">Мы ценим время и мнение
                                    клиента, поэтому
                                    обговариваем время, сроки и место
                                    проведения медиации,
                                    а также иные условия, необходимые для
                                    доверительной
                                    атмосферы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How it's working for customers-->
<section class="bgc-gray-3 pt-90 pb90 pb30-md">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title text-center">
                    <h2>Как это работает?</h2>
                    <p class="text">Все процедуры проходят онлайн на нашем
                        сервисе</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div
                        class="iconbox-style1 bgc-gray-3 at-home17-v1 after_style p-0 text-center">
                    <div class="icon before-none"><span
                            class="flaticon-cv"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Регистрация</h4>
                        <p class="text">Вы регистрируетесь на нашем
                            портале.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div
                        class="iconbox-style1 bgc-gray-3 at-home17-v1 after_style p-0 text-center">
                    <div class="icon before-none"><span
                            class="flaticon-web-design"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Обращение</h4>
                        <p class="text">Создаёте обращение на решение
                            конфликта.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div
                        class="iconbox-style1 bgc-gray-3 at-home17-v1 after_style p-0 text-center">
                    <div class="icon before-none"><span
                            class="flaticon-secure"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Рабочий кабинет</h4>
                        <p class="text">Получаете доступ в рабочий кабинет, где
                            ваши данные и документы видит только медиатор.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div
                        class="iconbox-style1 bgc-gray-3 at-home17-v1 p-0 text-center">
                    <div class="icon before-none"><span
                            class="flaticon-customer-service"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Решение конфликта</h4>
                        <p class="text">В онлайн режиме с нашим медиатором
                            решаете
                            конфликт</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt30">
                    <a class="ud-btn btn-light-thm bdrs12"
                       href="page-service-v1.html">Зарегистрироваться<i
                            class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

<!-- Questions About Mediations-->
<section class="our-features pt-90 pb90 pb30-md">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title text-center">
                    <h2>О медиации</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui-content">
                <div class="accordion-style1 mb-4 mb-lg-5">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">Кто такой
                                    медиатор?
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="accordion-body">Нейтральный
                                    посредник,
                                    которого стороны привлекают для
                                    урегулирования
                                    конфликта.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">Что
                                    делает медиатор?
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-parent="#accordionExample">
                                <div class="accordion-body">Медиатор
                                    помогает сторонам конфликта максимально
                                    четко и полно услышать и понять друг
                                    друга, изложить видение ситуации с каждой
                                    из сторон, выявить ключевые вопросы,
                                    требующие решения для урегулирования спора,
                                    выработать и выбрать решение, отвечающее
                                    интересам всех сторон.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">Медиатор
                                    - это юрист?
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-parent="#accordionExample">
                                <div class="accordion-body">Медиатор не
                                    выполняет юридическую работу, хотя может
                                    быть юристом по образованию.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">Чем
                                    медиация лучше суда?
                                </button>
                            </h2>
                            <div id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-parent="#accordionExample">
                                <div class="accordion-body">Медиация занимает
                                    намного меньше времени, чем судебное
                                    разбирательство, особенно в условиях
                                    пандемии, когда суды перегружены
                                    накопившимися делами.
                                    Итоговое решение суда, скорее всего, в
                                    полной мере не устроит ни одну из сторон.
                                    Медиация дешевле судебного процесса как
                                    минимум за счет того, что часов медиатора
                                    требуется меньше чем часов юриста.
                                    Медиация позволяет сохранить существо
                                    соглашения в тайне.
                                    Открытое судебное разбирательство может
                                    негативно сказаться на деловой репутации
                                    сторон, в случае, если речь идет о споре
                                    между юридическими лицами.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive"
                                        aria-expanded="false"
                                        aria-controls="collapseFive">Есть ли у
                                    договоренностей, достигнутых на медиации,
                                    какая-либо юридическая сила?
                                </button>
                            </h2>
                            <div id="collapseFive"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFive"
                                 data-parent="#accordionExample">
                                <div class="accordion-body">Медиативное
                                    соглашение, которое стороны подписали после
                                    окончания медиации, при обоюдном согласии
                                    сторон, можно удостоверить нотариально. В
                                    таком случае медиативное соглашение
                                    приобретает силу исполнительного документа.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt30">
                    <a class="ud-btn btn-light-thm bdrs12"
                       href="page-service-v1.html">Зарегистрироваться<i
                            class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'includes/our-footer.html' %}
{% endblock content %}