{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Highest Rated Mediators -->
    <section class="bgc-dark pb90 pb30-md">
      <div class="container">
        <div class="row align-items-center wow fadeInUp">
          <div class="col-lg-9">
            <div class="main-title">
              <h2 class="title text-white">Контакты</h2>
              <p class="paragraph text-white">Вы можете написать нашим
                медиаторам и воспользоваться контактами ниже</p>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="dots_nav_light navi_pagi_bottom_center slider-4-grid owl-carousel owl-theme">

              {% for top_mediator in top_mediators %}
                        <div class="item">
                        <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">
                          <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                            <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-1.png' %}" alt="">
                            <span class="online"></span>
                          </div>
                          <div class="details">
                            <h5 class="title mb-1">{{ top_mediator.firstname }} {{ top_mediator.lastname }}</h5>
                            <p class="mb-0">Семейный медиатор</p>
                            <div class="review"><p><i
                                    class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>

                            <hr class="opacity-100 mt20 mb15">
                            <div class="fl-meta d-flex align-items-center justify-content-between">
                              <a class="meta fw500 text-start">Ставка<br><span
                                      class="fz14 fw400">${{ top_mediator.additionalinfo.price_per_hour }} / час</span></a>
                              <a class="meta fw500 text-start">Результат<br><span
                                      class="fz14 fw400">%{{ top_mediator.additionalinfo.successful_cases_procentage }}</span></a>
                            </div>
                            <div class="d-grid mt15">
                              <a href="page-freelancer-single.html"
                                 class="ud-btn btn-white2 bdrs90">Подробнее<i
                                      class="fal fa-arrow-right-long"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-1.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-2.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Рут Матвеева</h5>-->
<!--                    <p class="mb-0">Бизнес медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-3.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Алёша Попович</h5>-->
<!--                    <p class="mb-0">Корпоративный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-4.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Наташа Простая</h5>-->
<!--                    <p class="mb-0">Просто медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-1.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-2.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-3.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-4.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="freelancer-style1 text-center bdr1 bdrs16 hover-box-shadow">-->
<!--                  <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">-->
<!--                    <img class="rounded-circle mx-auto" src="{% static 'images/team/fl-1.png' %}" alt="">-->
<!--                    <span class="online"></span>-->
<!--                  </div>-->
<!--                  <div class="details">-->
<!--                    <h5 class="title mb-1">Маша Кучерявая</h5>-->
<!--                    <p class="mb-0">Семейный медиатор</p>-->
<!--                    <div class="review"><p><i-->
<!--                            class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> (595 отзывов)</p></div>-->

<!--                    <hr class="opacity-100 mt20 mb15">-->
<!--                    <div class="fl-meta d-flex align-items-center justify-content-between">-->
<!--                      <a class="meta fw500 text-start">Ставка<br><span-->
<!--                              class="fz14 fw400">$90 / час</span></a>-->
<!--                      <a class="meta fw500 text-start">Результат<br><span-->
<!--                              class="fz14 fw400">%98</span></a>-->
<!--                    </div>-->
<!--                    <div class="d-grid mt15">-->
<!--                      <a href="page-freelancer-single.html"-->
<!--                         class="ud-btn btn-white2 bdrs90">Связаться<i-->
<!--                              class="fal fa-arrow-right-long"></i></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Our Contact Info -->
    <section class="pt-0">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-lg-6">
            <div class="position-relative mt40">
              <div class="main-title">
                <h4 class="form-title mb25">Свяжитесь с нами</h4>
              </div>
              <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                <div class="icon flex-shrink-0"><span class="flaticon-tracking"></span></div>
                <div class="details">
                  <h5 class="title">Адрес</h5>
                  <p class="mb-0 text">328 Queensberry Street, North <br> Melbourne VIC 3051, Australia.</p>
                </div>
              </div>
              <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                <div class="icon flex-shrink-0"><span class="flaticon-call"></span></div>
                <div class="details">
                  <h5 class="title">Телефон</h5>
                  <p class="mb-0 text">+(0) 392 94 03 01</p>
                </div>
              </div>
              <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                <div class="icon flex-shrink-0"><span class="flaticon-mail"></span></div>
                <div class="details">
                  <h5 class="title">Email</h5>
                  <p class="mb-0 text">hello@freeio.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
                    class="contact-page-form default-box-shadow1 bdrs8 bdr1 p50 mt40 mb30-md bgc-white">
              <h4 class="form-title mb25">Напишите нам письмо</h4>
              <p class="text mb30">Ваш вопрос останется строго
                конфиденциальным</p>
              <form action="" class="form-style1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb20">
                      <label class="heading-color ff-heading fw500 mb10"
                             for="">Имя</label>
                      <input type="text" class="form-control"
                             placeholder="Имя">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb20">
                      <label class="heading-color ff-heading fw500 mb10" for="">Email</label>
                      <input type="email" class="form-control"
                             placeholder="Email">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="mb20">
                      <label class="heading-color ff-heading fw500 mb10"
                             for="">Сообщение</label>
                      <textarea name="" id="" cols="30" rows="6"
                                placeholder="Опишите ваш вопрос"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="">
                      <a class="ud-btn btn-dark"
                         href="page-contact.html">Отправить
                        <i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'includes/our-footer.html' %}
{% endblock content %}