{% load django_bootstrap5 %}
<div class="row">
    <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
            <div class="bdrb1 pb15 mb25">
                <h5 class="list-title">Первичная информация</h5>
            </div>
            <div class="col-xl-8">
                <form enctype="multipart/form-data"
                      hx-post="{% url 'conflict:create_conflict' %}"
                      hx-trigger="submit"
                      onsubmit="refreshPage()"
                >
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div id="document-forms-container"></div>
                    <button class="btn btn-secondary mt-2" type="submit">Создать конфликт</button>
                </form>
            </div>
        </div>
    </div>
</div>

