{% extends 'dashboard/base-dashboard.html' %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_list_review='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
{% include 'dashboard/includes/dash-sidebar-list.html' with active_list_review='-is-active' %}
{% endblock %}


{% include 'reviews/includes/rating/rating-styles-mini.html' %}


{% block dash-title %}
{% if view.request.user.groups.first.name == 'mediator' %}
    Отзывы обо мне
{% else %}
    Мои отзывы
{% endif %}
{% endblock dash-title %}


{% block dash-description %}
{% if view.request.user.groups.first.name == 'mediator' %}
    Отзывы - источник бесконечного смеха и радости
{% else %}
    Отзывы - как пирожки, один не возьмешь, а два уже много!
{% endif %}
{% endblock dash-description %}


{% block dash-content %}
<div class="container">
    <div class="row">
        <ul class="timeline">
            {% for review in reviews %}
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        {% if view.request.user.groups.first.name == 'mediator' %}
                            <h4 class="timeline-title">{{ review.from_user.lastname }} {{ review.from_user.firstname }}</h4>
                        {% else %}
                            <h4 class="timeline-title">{{ review.to_user.lastname }} {{ review.to_user.firstname }}</h4>
                        {% endif %}

                        <div>
                            <small class="text-muted pe-2">{{ review.created_at }}</small>
                            {% comment %} Строка нужной длины {% endcomment %}
                            {% for item in ''|ljust:review.rating %}
                                <i class="fa fa-star fz12 text-warning"></i>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="timeline-body">
                        <p>{{ review.text }}</p>
                    </div>
                    <br>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock dash-content %}