{% extends 'dashboard/base-dashboard.html' %}

{% block dash-main-header-nav %}
{% include 'dashboard/includes/dash-main-header-nav.html' with active_list_review='active' %}
{% endblock dash-main-header-nav %}

{% block dash-sidebar %}
{% include 'dashboard/includes/dash-sidebar-list.html' with active_list_review='-is-active' %}
{% endblock %}

{% block reviews-list-reviews %}

{% include 'reviews/includes/rating/rating-styles-mini.html' %}


<div class="container">
    <div class="row">
        <ul class="timeline">
            {% for review in reviews %}
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{ review.from_user.username }}</h4>
                        <div>
                            <small class="text-muted">{{ review.created_at }}</small>
                            <div class="rating-mini">
                                {% comment %} Строка нужной длины {% endcomment %}
                                {% for item in ''|ljust:review.rating %}
                                    <span class="active"></span>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="timeline-body">
                        <p>{{ review.text }}</p>
                    </div>
                    <br>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock reviews-list-reviews %}